@import "../../styles/glueGuide";

.footerBar {
  width: 100%;
  font-size: $font_h4;
  color: $color_neutral_white;
  background-color: $color_neutral_blackBG;
  padding: 16px 0;
  z-index: 1;
}
.content {
  padding: 0 24px;
}
.sourceLink {
  display: inline-block;
  float: right;
  text-transform: uppercase;
  text-decoration: none;
  color: $color_neutral_white;
}
