.footerBar {
  width: 100%;
  background-color: #212121;
  z-index: 1;
  color: #fff;
  font-size: 14px;
  padding: 16px 0;
}
.content {
  padding: 0 24px;
}
.sourceLink {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  float: right;
}
