@import "../../styles/glueGuide";

.contentSection {
  width: 100%;
}
.contentWrapper {
  overflow: auto;
}
.imageWrapper {
  display: table;
  float: left;
  width: 49%;
  margin-right: 2px;
}
.imageContainer {
  display: table-cell;
  vertical-align: middle;
  height: 231px;
  min-height: 231px;
  max-height: 231px;
  text-align: center;
  background-color: $color_neutral_white;
}
.itemImage {
  width: 100%;
}
.loadMoreButton {
  display: block;
  position: relative;
  width: 40px;
  font-size: $font_title;
  color: $color_neutral_blackBG;
  cursor: pointer;
  padding: 10px;
  margin: 20px auto;
}
@media all and (min-width: 1281px) {
  .imageWrapper {
    width: 33%;
  }
  .imageContainer {
    height: 482px;
    min-height: 482px;
    max-height: 482px;
  }
}

@media all and (min-width: 1025px) and (max-width: 1280px) {
  .imageWrapper {
    width: 33%;
  }
  .imageContainer {
    height: 482px;
    min-height: 482px;
    max-height: 482px;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .imageWrapper {
    width: 24.5%;
  }
  .imageContainer {
    height: 278px;
    min-height: 278px;
    max-height: 278px;
  }
}

@media all and (min-width: 641px) and (max-width: 768px) {
  .imageWrapper {
    width: 24.5%;
  }
  .imageContainer {
    height: 240px;
    min-height: 240px;
    max-height: 240px;
  }
}

@media all and (min-width: 541px) and (max-width: 640px) {
  .imageWrapper {
    width: 32%;
  }
  .imageContainer {
    height: 263px;
    min-height: 263px;
    max-height: 263px;
  }
}

@media all and (min-width: 421px) and (max-width: 540px) {
  .imageWrapper {
    width: 32%;
  }
  .imageContainer {
    height: 205px;
    min-height: 205px;
    max-height: 205px;
  }
}
