@import "../../styles/glueGuide";

.contentSection {
  position: relative;
}
.section {
  margin-bottom: 24px;
}
.titleSection {
  @include section_title;
}
.detailCard {
  padding: 0 24px 48px 24px;
}
.leftCardSection {
  float: left;
  width: 128px;
}
.rightCardSection {
  float: left;
  padding: 0 24px;
}
.clear {
  clear: both;
}
.imageWrapper {
  display: table;
}
.imageContainer {
  display: table-cell;
  vertical-align: middle;
  width: 128px;
  text-align: center;
}
.itemImage {
  max-width: 100%;
  max-height: 100%;
}
.heading1 {
  @include style_h1;
}
.heading2 {
  @include style_h1;
  font-style: oblique;
}
.heading3 {
  @include style_h2;
}
.heading4 {
  @include style_h3;
}
.content {
  @include style_content;
}
.btnMarkFav {
  @include style_primary_button;
  width: 100px;
  margin-top: 16px;
}
.dividor {
  @include style_dividor;
}
.trailerSection {
  margin-left: 24px;
}
.trailerLink {
  display: table;
  text-decoration: none;
}
.trailerIcon {
  display: table-cell;
  vertical-align: middle;
  font-size: $icon_size2;
  color: $color_secondary_dark;
}
.trailerTitle {
  display: table-cell;
  vertical-align: middle;
  padding-left: 24px;
}
